.fa-arrow-left{
    padding: 20px;
    color: var(--secondary-color);
}
.fa-trash{
    color: red;
    opacity: .75;
}
.fa-trash:hover{
    color: red;
    opacity: 1;
}
img{
    width: 95%;
    display: block;
    margin: auto;
}
body{
    overflow-y: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
    height: 9vh;
    box-shadow: 0 .8px 5px black;
    position: sticky;
    top: 0%;
    z-index: 99;
}
header .page-name{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: auto 0;
}

main {
    margin: 20px auto;
    height: fit-content;
}
.each{
    width: 91%;
    height: fit-content;
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.each:hover{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background-color: whitesmoke;
}
.each .sender{
    /* margin: auto 5px; */
}
.each .sender .name{
    margin: 5px;
    text-transform: capitalize;
}

.each .sender .matric-no{
    margin: 5px;
    font-size: 17px;
    text-transform: uppercase;
}
.each .title{
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    font-style: italic;
}
.each .body{
    display: flex;
    margin: 5px;
}
.sub-title{
    font-weight: 600;
    font-size: 15px;
    margin: auto 10px;
    color: green;
    font-family: cursive;
    text-transform: uppercase;
}
.each .body p{
    font-size: 14px;
    display: flex;
    font-style: italic;
}
.each .action{
    margin-left: 97%;
    position: relative;
}
.each .action:hover .take-action, .each .action:focus .take-action{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 65px;
    border-radius: 5px;
    box-shadow: .5px .5px 1px 0 black;
    right: 10%;
    background-color: white;
}
.each .take-action span{
    width: 100%;
    height: 50%;
    margin-block: 2px;
    text-align: center;
    cursor: pointer;
}
.each .take-action span:hover{
    background-color: whitesmoke;
}
.each .take-action{
    display: none;
}
@media screen and (max-width: 800px) {
    .each{
        width: 100%;
        height: 150px;
    }
}