<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <header>
      <a href="/student/dashboard">
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      </a>
      <nav>
        <img src="/images/user3.png" alt="Admin" width="50" height="50"/>
        <small style="text-align: center; display: block; color: green;">Admin</small>
      </nav>
    </header>
    <main class="page">
      <% data.forEach(function(msg) {%>
      <article class="message">
        <aside class="user">
          <small>--- Admin 7 ---</small>
        </aside>
        <section class="main">
          <% if (msg.img) { %>
          <img src="<%= msg.img %>" alt="" />
          <% } %>
           <% if (msg.body.length) { %>
          <p><%= msg.body %></p>
          <% } %> 
          <% if (msg.type == 'doc') { %>
          <p><%= msg.doc %></p>
          <% } %>
        </section>
        <aside class="time">
          <small>19:45</small>
        </aside>
      </article>
      <% })%>
    </main>
    <footer><small>Only Admins can send message</small></footer>
  </body>
</html>
