<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="https://kit.fontawesome.com/3c5dd8b0d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/msg.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="image">
            <img src="/images/user3.png" alt="">
        </div>
        <nav>Admin - 1</nav>
    </header>
    <main class="page">
        <a href="/dashboard">
        <i class="fa-solid fa-arrow-left fa-lg"></i>
        </a>
        <% data.forEach(function(msg) {%>
            <article class="message">
                <aside class="user">
                    <small>--- Admin 7 ---</small>
                </aside>
                <section class="main">
                    <% if (msg.img) { %>
                    <img src="<%= msg.img %>" alt="">
                    <% } %>
                    <% if (msg.body.length) { %>
                        <p><%= msg.body %></p>
                    <% } %>
                    <% if (msg.type == 'doc') { %>
                        <p><%= msg.doc %></p>
                    <% } %>
                </section>
                <aside class="time">
                    <small>19:45</small>
                </aside>
            </article>
            <% })%>
            </main>
    <footer><small>Only Admins can send message</small></footer>
</body>
</html>
