<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
<body>
     <header>
        <nav>
            <h3>
                FPI MIS
            </h3>
            <ul>
                <li><a href="https://federalpolyilaro.edu.ng/" target="_blank"> Home</a></li>
                <li><a href="/admin"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </nav>
    </header>
    <div class="section">
    <span class="complaint-box"><a href="/admin/complaint-box"><i class="fa-solid fa-box-open fa-xl navigate" title="Complaint-box"></i></a></span>
    <span class="history"><a href="/admin/history">View history</a></span>
</div>
<a href="/admin/create-new">
    <article title="create-new">
        <i class="fa-solid fa-plus fa-2xl
        "></i>
    </article>
</a>
<div class="drafts"><a href="/admin/archive" title="Drafts"><i class="fa-solid fa-box-archive fa-xl navigate"></i></a></div>
    <footer><sub class="author">CDM SOFTWARES &copy;</sub></footer>
</body>
</html>
