<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <header>
      <nav>
        <h3><a href="/admin/home">FPI MIS</a></h3>
      </nav>
    </header>
    <form action="/admin/newfile" method="post" class="" enctype="multipart/form-data">
      <div class="format">
        <select name="doctype" id="select" required>
          <option value="" class="select-case" selected disabled>
            Select message format
          </option>
          <option value="txt" class="select-case">
            <span class="txt">Text only</span>
          </option>
          <option value="img" class="select-case"><span>Image</span></option>
          <option value="docx" class="select-case">
            <span>Document</span>
          </option>
        </select>
        <div class="hide-tmp">
          <div class="contain">
            <i class="fa-solid fa-xmark" style="display: none"></i>
            <label for="file" class="decorate-p"></label>
            <input type="file" name="file" id="file" multiple="false" hidden/>
            <i class="fa-regular fa-2xl child" id="file-icon"></i>
            <p class="file-name child"></p>
            <small class="file-size child"></small>
          </div>
        </div>
      </div>
      <p class="error"></p>
      <button type="submit" id="submit" class="button hide">Upload</button>
      <button type="submit" id="write" class="hide">Start writing</button>
    </form>
    <script defer src="/javascripts/writeFormat.js"></script>
  </body>
</html>
