<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPI MIS</title>
</head>
<body>
    <form action="/new" method="post">
        <label for="header">Include header</label>
        <input id="header" type="checkbox">
        <label for="footer">Include footer</label>
        <input id="header" type="checkbox">
        <input type="text">
        <select name="" id="">
            <option value="" selected disabled>Choose Message type</option>
            <option value="" >Document</option>
            <option value="" >Img</option>
            <option value="" >Text</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>