<%- include('./components/head.ejs') %>
<body>
    <header>
        <div class="page-name">
          <a href="/admin/home">
            <i class="fa-solid fa-arrow-left fa-lg" style="color: green"></i
          ></a>
          <h3>Complaint Box</h3>
        </div>
      </header>
      <main>
        <section class="each">
          <div class="contain">
          <aside class="sender">
            <span class="name">adebowale samuel victor</span><br>
            <span class="matric-no">n/ac/21/6589</span>
          </aside>
          <aside class="title">well being of student on campus</aside>
          <aside class="body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum officia natus vero consequatur dolores ab tempore consectetur ducimus. Neque, quisquam?</aside>
          <aside class="action">
            <span class="read">
            </span>
            <span class="delete">
              <i class="fa-solid fa-trash fa-lg"></i
                >
            </span>
          </aside>
        </div>
        </section>
        <section class="each">
          <div class="contain">
          <aside class="sender">
            <span class="name">adebowale samuel victor</span><br>
            <span class="matric-no">n/ac/21/6589</span>
          </aside>
          <aside class="title">well being of student on campus</aside>
          <aside class="body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum officia natus vero consequatur dolores ab tempore consectetur ducimus. Neque, quisquam?</aside>
          <aside class="action">
            <span class="read">
            </span>
            <span class="delete">
              <i class="fa-solid fa-trash fa-lg"></i
                >
            </span>
          </aside>
        </div>
        </section>
        <section class="each">
          <div class="contain">
          <aside class="sender">
            <span class="name">adebowale samuel victor</span><br>
            <span class="matric-no">n/ac/21/6589</span>
          </aside>
          <aside class="title">well being of student on campus</aside>
          <aside class="body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum officia natus vero consequatur dolores ab tempore consectetur ducimus. Neque, quisquam?</aside>
          <aside class="action">
            <span class="read">
            </span>
            <span class="delete">
              <i class="fa-solid fa-trash fa-lg"></i
                >
            </span>
          </aside>
        </div>
        </section>
      </main>
</body>
</html>