<%- include('./components/head.ejs') %>
<body>
    <header>
        <nav>
            <h3>
                FPI MIS
            </h3>
            <ul>
                <li><a href="/"> Home</a></li>
                <li>Login
                    <ul><li><a href="/admin">Admin</a></li><hr>
                    <li><a href="/student/login">Student</a></li></ul>
                </li>
            </ul>
        </nav>
    </header>
        <article>
            <section>
                <h5>Admin
                    <i class="fa-solid fa-angle-right green" style="color: green;"></i>
                </h5>
                <form action="/admin/login" method="POST">
                    <div class="user-name common">
                        <label for="user_name">User Name</label>
                        <input type="text" name="user_name" id="user_name">
                    </div>
                    <div class="password common">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button>Login</button>
                </form>
            </section>
        </article>
</body>
</html>
