<%- include('./components/head.ejs') %>
<body>
<form action="/admin/new" method="POST" class="text-form">
    <header>
        <nav>
            <h3><a href="/admin/home">FPI MIS</a></h3>
        </nav>
        </nav>
 <div class="toggle">
            <button type="submit" id="send" class="">Send</button>
            <span style="height: 100%; width: 2px; background-color: white;"></span>
            <button type="button" id="preview" class="">Preview</button>
        </div>
    </header>
<div class="write">
        <article>
            <section class="message">
                <label for="title">
                </label>
                    <input name="title" class="title" id="title" placeholder="Title" required>
            </section>
            <section class="message">
                <label for="body"></label>
                <textarea name="body" class="" id="body" rows="17" placeholder="Write Something" required></textarea>
            </section>
        </article>
</div>
</form>
<script>
const preview = document.getElementById('preview')
preview.addEventListener('click', (e)=>{
	e.preventDefault()
})
</script>
</body>
</html>
